.card{
    background-color: grey;
    color:black;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.2rem;
    
}
.card .titulo{
    color:white;
    background-color: blue;
    display: flex;
    justify-content: center;
}